*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    font-size: 17px;
    line-height: 1.8;
    background: whitesmoke;
}
h1,
h2,
h3,
h4{
    font-family: 'Poppins', sans-serif;
}
p,
.text{
    font-family: 'Abril Fatface', serif;
}
img {
    width: 100%;
    height: auto;
}
.navbar{
    max-width: 100%;
    margin: auto;
    background-color: #201a1c;
    overflow:hidden;
    padding-bottom:10px;
}
.navigation{
    float: right;
    list-style: none;
    margin-top: 25px;
}
.navigation li{
    display: inline-block;
    margin-bottom: 10px;
}
.navigation a{
    color: #ccc;
    text-decoration: none;
    padding: 7px 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.navlogo,
.logotel {
    height: 50px;
    width: auto;
    padding: 12px 0 0 20px;
}
.navigation a:hover{
    color: #6c3513;
}
.navbartel {
    display: none;
}
#showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/naslovna.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    padding: 0 20px;
}
#showcase h1{
    font-size: 8vw;
    font-family: 'Abril Fatface', serif;
    outline-offset: .10rem;
    outline: whitesmoke solid 0.5vw;
    display: inline-block;
}

#showcase p{
    font-size: 4vw;
    padding: 2vw;
}
#showcase p:hover{
    -webkit-animation: animacija1 2s infinite;
    animation: animacija1 2s infinite;
}
@-webkit-keyframes animacija1{
    50% { font-size: 6vw;}
}
@keyframes animacija1{
    50% { font-size: 6vw; }
}
#services{
    display: flex;
    flex-direction: row;
}
#container,
#container1 {
    position: relative;
    width: 50%;

}
#container .image,
#container1 .image {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8;
}

#container .overlay,
#container1 .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6c3513;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

#container:hover .overlay,
#container1:hover .overlay {
    height: 100%;
}

#container .text,
#container1 .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about{
    display: flex;
    flex-direction: row;
    margin: 70px;
    align-items: center;
}
#description{
    text-align: center;
    border: 10px double #6c3513;
    border-radius: 20px;
    margin-right: 50px;
    padding: 20px;
    color: #6c3513;
}
#description h3{
    font-size: 4vw;
}
#description p{
    font-size: 2vw;
}
#menu{
    padding: 50px;
    background: #6c3513;
    text-align: center;
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    -webkit-flex: 1;
    flex:1;
    background: whitesmoke;
}
.price {
    color: grey;
    font-size: 22px;
}
#contact{
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hours{
    margin: 20px;
    text-align: justify;
    flex:1;
    border: 10px double #6c3513;
    border-radius: 20px;
    padding: 20px;
}
form{
    flex: 2;
    font-size: 1em;
}
.hours h4{
    font-size: 4vw;
}
.hours p{
    font-size: 2vw;
    text-align: justify;
}
input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
button[type="button"]{
    background: #6c3513;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="button"]:hover{
    background: #333;
}
.footer-first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.footer-second{
    padding: 5px;
    background: #201a1c;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;
}
.social{
    padding: 20px;
    flex: 1;
    justify-content: flex-end;
}
.text{
    flex: 2;
    font-size: 2vw;
}
.icons{
    display: flex;
    flex-direction: row;
}
.icons a{
    color: whitesmoke;
    padding: 5px;
}
.icons a:hover{
    color: #6c3513;
}
/**
 * Map styling
 */
iframe {
    width: 100%;
}
.map-responsive {
    width: 50%;
}
/**
 * Layout utilities
 */
.layout-50_100 {
    width: 50%;
}
@media (max-width: 992px){
    #services{
        -webkit-flex-direction:column;
        flex-direction: column;
    }
    #container,
    #container1{
        width: 100%;
    }
    #about{
        -webkit-flex-direction:column-reverse;
        flex-direction: column-reverse;
    }
    #newsletter{
        -webkit-flex-direction:column-reverse;
        flex-direction: column-reverse;
    }
    .flex-container, .flex-container, .flex-container, .flex-container{
        -webkit-flex-direction: row;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
    }
    .card{
        max-width: 100%;
        height: auto;
        margin: 20px;
    }
    #description{
        margin-top: 50px;
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .layout-50_100 {
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .navbartel{
        position: relative;
        display: inline-block;
        background-color: #201a1c;
        width: 100%;
    }
    .navigationtel{
        display: none;
        position: absolute;
        background-color: whitesmoke;
        min-width: 200px;
        z-index: 1;
    }
    .navigationtel a{
        color:#6c3513;
        padding: 20px 60px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight:bold;
        text-transform: uppercase;
    }
    .navigationtel a:hover{
        color: #ccc;
    }
    .navbartel:hover .navigationtel{
        display: block;
    }
    .card{
        max-width: 100%;
        height: auto;
        margin: 20px;
    }
    #about{
        flex-direction: column-reverse;
    }
    #about img{
        max-width: 100%;
        height: auto;
    }
    #newsletter{
        flex-direction: column-reverse;
    }
    #image-container{
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    #contact{
        flex-direction: column;
        text-align: justify;
    }
    .map-responsive{
        width: 100%;
    }
    .footer-first{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-second{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    #description{
        margin-right: 0;
    }
}






